h1 {
    width: 100%;
    text-align: center;
    padding: 0.5em;
    background-color: #DDDDFF;
}

#main {
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    border: 1px solid #222;
    box-shadow: 10px 10px 5px #888888;
}

.question {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.answer {
    cursor: pointer;
    margin-left: 2em;
    font-size: 2em;
}

.species .name {
    font-weight: bold;
    font-size: 2.5em;
    margin-left: 1em;
}

.unknown {
    font-size: 1.5em;
}

.instructions {
    text-decoration: italic;
    margin-top: 1em;
}

.submit {
    display: inline-block;
}

.extract {
    max-height: 4em;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px dashed #DDD;
    margin: 4px;
    padding: 4px;
}

.species .submit {
    display: block;
    margin-top: 1em;
}

.submitLarge button {
    display: block;
    margin-top: 1em;
    font-size: 2em;
}

.image-picker .image {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid black;
    margin: 2px;
    padding: 8px;
    cursor:pointer
}

.image-picker .image:hover {
    background-color: #DDDDFF;
}

.image-picker .image.selected {
    background-color: #DDFFDD;
}

.image-picker .image.selected:hover {
    background-color: #DDFFFF;
}

.image-picker .image img {
    width: 200px;
    height: 200px;
}

.newName {
    margin-top: 1em;
}

.newAnswer {
    position: relative;
}

.newAnswer label {
    margin-left: 1em;
    width: 7em;
    position: absolute;
    left: 0;
}

.newAnswer input {
    margin-left: 9em;
}

.newQuestion {
    margin-top: 0.5em;
    position: relative;
}

.newQuestion label {
    margin-left: 1em;
    width: 7em;
    position: absolute;
    left: 0;
}

.newQuestion input {
    margin-left: 9em;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}